.tick {
    box-sizing: border-box;
    * {
        box-sizing: inherit;
    }

    user-select: none;
    cursor: default;
    position: relative;
    z-index: 1;
    line-height: 1.4;

    [data-view] {
        max-width: 100%;
    }

    span[data-view] {
        display: inline-block;
    }

    // credits
    .tick-credits {
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0.4;
        text-decoration: none;
        font-size: 11px;
        color: inherit;
    }

    // layout
    @import 'modules/layout';
}
